doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    title #{title}

  body
    main.main
      .error
        .error__title
          h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!
          h2.error__emoji 😢 🤯
        .error__msg= msg